<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Archetype Created Web Application</display-name>
<!--   <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>id.ferdi.training.controller.TestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/TestController</url-pattern>
  </servlet-mapping> -->
</web-app>
